<div class="meko">
<font align="left">
<p style="color: green"><%= notice %></p>
<font align="center">
  <h1>New tweet</h1>
  <%= render "form", tweet: @tweet %>
</font>
</div>
<font align="right">
  <% @tweets.each do |tweet| %>
  <div class="bg-info clearfix">
    <%= link_to "Edit", edit_tweet_path(tweet), class: "btn btn-secondary float-start"%>
    <center><%= tweet.user.user_name%>:-<br><%= tweet.tweet %></center>
    <%= link_to "delete", tweet, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-secondary float-end" %><br>
    </div>
  <% end %>
</font>

