<center>

<p style="color: green"><%= notice %></p>

<h1>Tweets</h1>


  <% @tweets.each do |tweet| %>
    <strong>Tweet:</strong>
    <%= tweet.tweet %><br>
    <%= link_to "Show", tweet %>||
    <%= link_to "Edit", edit_tweet_path(tweet) %>||
    <%= link_to "delete", @tweet, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %><br>
  <% end %>


<%= link_to "New tweet", new_tweet_path %>
</center>